div.headerName{
    background-color: gray;
    position: static;
    background: #000000;
    color: white;
    text-align: center;
    opacity: 80%;
    width: 100%;
}

h1.pageName {
    color: lightgreen;
    background: black;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

h1.queryName{
    color: beige;
    background: black;
    opacity: 85%;
    margin-right: auto;
    border-radius: 15px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
    
    /* spacing */
    
    table {
        table-layout: fixed;
        width: 80%;
        border-collapse: collapse;
        border: 12px solid black;
    }
    
    thead th:nth-child(1) {
        width: 30%;
    }
    
    thead th:nth-child(2) {
        width: 20%;
    }
    
    thead th:nth-child(3) {
        width: 15%;
    }
    
    thead th:nth-child(4) {
        width: 35%;
    }
    
    th,
    td {
        padding: 20px;
    }
    
    td {
        text-align: center;
        background-color: white;
        opacity: 85%;
        font-weight: bolder;
        border: 10px solid darkgray;
    }
    
    table,
    td {
        padding: 2px;
    }
    
    a {
        color: white;
    }
    
    table {
        color: black;
        margin-left: auto;
        margin-right: auto;
    }
    
    th {
        background-color: lightgray;
        color: #000000;
        font-size: 120%;
        border-bottom: 10px solid black;
    }
    tr{
        border: 10px solid black;
    }
    
    .sty {
        background-image: url('../images/annie-theby-EXCeGbyolPY-unsplash.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
    }
    
    .headerName {
        color: white;
        border-radius: 12px;
        text-align: center;
        display: fixed;
    }
    
    h1 {
        text-align: center;
        color: white;
    }
    
    form label {
        margin: 6px;
        padding: 4px;
        color: black;
    }
    
    .nav a {
        overflow: hidden;
        float: center;
        color: white;
        text-align: center;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 20px;
        border-radius: 15px;
    }
    
    a:hover {
        background-color: yellow;
        color: black;
    }
    
    h2 {
        text-align: center;
    }
    
    .fav {
        padding: 2px 5px;
        background-color: pink;
        color: black;
        align-content: center;
        margin: auto;
        display: block;
        text-align: center;
        text-decoration: none;
    }
    
    .viewme {
        padding: 2px 5px;
        background-color: burlywood;
        color: black;
        align-content: center;
        margin: auto;
        display: block;
        text-align: center;
        text-decoration: none;
    }
    
    footer {
        position: static;
        bottom: 0;
        background: #000000;
        color: white;
        text-align: center;
        opacity: 80%;
        width: 100%;
        margin-left: 0px;
    }
    
    a:link,
    a:visited {
        background-color: black;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    
    a:hover,
    a:active {
        background-color: green;
    }
    
    footer a:link,
    footer a:visited {
        background-color: black;
        color: white;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    
    footer a:hover,
    footer a:active {
        background-color: lightblue;
        color: black;
    }

div.nav a:active{
    background-color:  lightgreen ;

}
    a.viewme:hover{
        background-color: blue;

    }
    a.viewme:active {
        background-color: purple;
    }

    a.showAllButton:hover{
        background-color: blue;
    }
    
    a.showAllButton:active {
        background-color: purple;
    }