    /* spacing */
    
    table {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        border: 3px solid purple;
    }
    
    thead th:nth-child(1) {
        width: 30%;
    }
    
    thead th:nth-child(2) {
        width: 20%;
    }
    
    thead th:nth-child(3) {
        width: 15%;
    }
    
    thead th:nth-child(4) {
        width: 35%;
    }
    
    th,
    td {
        padding: 20px;
    }
    
    td {
        text-align: center;
        background-color: white;
        opacity: 85%;
        font-weight: bolder;
        border: 10px solid darkgray;
    }
    
    td table,
    th,
    td {
        border-collapse: collapse;
        padding: 2px;
        border: 10px solid darkgray;
    }
    
    a {
        color: white;
    }
    
    table {
        color: black;
        margin-left: auto;
        margin-right: auto;
    }
    
    th {
        background-color: lightgray;
        color: #000000;
        font-size: 120%;
    }
    
    .sty {
        background-image: url('../images/karl-hornfeldt-i4UcdpKoA9c-unsplash.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
    }
    
    h1,
    header h2 {
        color: black;
    }
    
    form label {
        margin: 2px;
        padding: 0px;
        color: black;
    }
    
    .nav a {
        background-color: black;
        overflow: hidden;
        float: center;
        color: white;
        text-align: center;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 20px;
        border-radius: 15px;
    }
    
    a:hover {
        background-color: yellow;
        color: black;
    }
    
    h2 {
        text-align: center;
    }
    
    .fav {
        padding: 2px 5px;
        background-color: pink;
        color: black;
        align-content: center;
        margin: auto;
        display: block;
        text-align: center;
        text-decoration: none;
    }
    
    .viewme {
        padding: 2px 5px;
        background-color: burlywood;
        color: black;
        align-content: center;
        margin: auto;
        display: block;
        text-align: center;
        text-decoration: none;
    }
    
    footer {
        position: static;
        bottom: 0;
        background: #000000;
        color: white;
        text-align: center;
        opacity: 80%;
        width: 100%;
        margin-left: 0px;
    }
    
    a:link,
    a:visited {
        background-color: black;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    
    a:hover,
    a:active {
        background-color: green;
    }
    
    footer a:link,
    footer a:visited {
        background-color: black;
        color: white;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    
    footer a:hover,
    footer a:active {
        background-color: lightblue;
        color: black;
    }