table,
th,
td {
    border: 10px solid darkgray;
    border-collapse: collapse;
    padding: 5px;
}

a {
    color: white;
}

table {
    color: white;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url('../images/john-matychuk-gUK3lA3K7Yo-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1,
header h2 {
    color: white;
}

form label {
    margin: 2px;
    padding: 0px;
    color: black;
}

h1 {
    text-align: center;
}

td {
    text-align: center;
    background-color: white;
    opacity: 85%;
    font-weight: bolder;
    color: black;
}

.nav a {
    background-color: black;
    overflow: hidden;
    float: center;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 15px;
}

a:hover {
    background-color: yellow;
    color: black;
}

h2 {
    text-align: center;
}

th {
    background-color: lightgray;
    color: #000000;
    font-size: 120%;
}

.rmfav {
    padding: 2px 5px;
    background-color: pink;
    color: black;
    align-content: center;
    margin: auto;
    display: block;
    text-align: center;
    text-decoration: none;
}

.viewme {
    padding: 2px 5px;
    background-color: burlywood;
    color: black;
    align-content: center;
    margin: auto;
    display: block;
    text-align: center;
    text-decoration: none;
}

footer {
    position: relative;
    padding-bottom: auto;
    bottom: 0;
    background: #000000;
    color: white;
    text-align: center;
    opacity: 80%;
    width: 100%;
    margin-left: -8px;
}

a:link,
a:visited {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: green;
}

a.rmfav:hover,
a.rmfav:active {
    background-color: red;
}

a.viewme:hover,
a.viewme:active {
    background-color: blue;
}

footer a:link,
footer a:visited {
    background-color: black;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

footer a:hover,
footer a:active {
    background-color: lightblue;
    color: black;
}