table,
th,
td {
    border: 3px solid red;
    border-collapse: collapse;
    padding: 2px;
}

a {
    color: white;
}

table {
    color: white;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url('../images/john-matychuk-gUK3lA3K7Yo-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1,
header h2 {
    color: white;
}

form label {
    margin: 2px;
    padding: 0px;
    color: black;
}

td {
    text-align: center;
}

.nav a {
    background-color: black;
    overflow: hidden;
    float: center;
    color: white;
    text-align: center;
    padding: 6px 8px;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    background-color: yellow;
    color: black;
}

h2 {
    text-align: center;
}

th {
    background-color: lightgray;
    color: #000000;
    font-size: 120%;
}

.rmfav {
    padding: 2px 5px;
    background-color: pink;
    color: black;
    align-content: center;
    margin: auto;
    display: block;
    text-align: center;
    text-decoration: none;
}

.viewme {
    padding: 2px 5px;
    background-color: burlywood;
    color: black;
    align-content: center;
    margin: auto;
    display: block;
    text-align: center;
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0;
    background: #000000;
    color: white;
    text-align: center;
    opacity: 0.5;
    width: 100%;
    margin-left: -8px;
}