body {
    background-image: url('../images/john-matychuk-gUK3lA3K7Yo-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div.headerName{
    background-color: gray;
    position: static;
    background: #000000;
    color: white;
    text-align: center;
    opacity: 80%;
    width: 100%;
}

.headerName a:link,
.headerName a:visited {
    background-color: black;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.headerName a:hover,
.headerName a:active {
    background-color: lightblue;
    color: #000000;
}

h1 {
    color: white;
    text-align: center;
}

a.active {
    background-color: green;
}

.nav a {
    background-color: black;
    overflow: hidden;
    float: center;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 15px;
}

h2 {
    color: white;
    text-align: center;
}

footer {
    position: static;
    bottom: 0;
    padding: 5px;
    background: #000000;
    color: white;
    width: 100%;
    text-align: center;
    opacity: 80%;
}

div.nav a:link,
div.nav a:visited {
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

div.nav a:hover,
nav a:active {
    background-color: green;
}

footer a:link,
footer a:visited {
    background-color: black;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

footer a:hover,
footer a:active {
    background-color: lightblue;
    color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: grey;
    padding: 5px;
    justify-content: space-evenly;
    border-radius: 12px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 15px;
    text-align: left;
    margin: 6px;
    border-radius: 12px;
    align-content: center;
}

.grid-item h3 {
    background-color: lightgrey;
    border-radius: 40px;
    text-align: center;
    padding: 15px;
    font-weight: bolder;
}

.grid-item li {
    list-style-type: none;
    margin-right: 15px;
    padding: 5px;
    align-items: center;
}

div.grid-item a, div.grid-item a:hover{
    color:  green;
    font-size: larger;
    text-decoration: none; 
    font-weight: bold;


}

div.grid-item a:hover{
    color:  blue;
    text-decoration: none; 
}

div.grid-item a:active{
    color: blueviolet;
    text-decoration: none; 
}