body {
    background-image: url('../images/john-matychuk-gUK3lA3K7Yo-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.headerName a:link,
.headerName a:visited {
    background-color: black;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.headerName a:hover,
.headerName a:active {
    background-color: lightblue;
}

h1 {
    color: white;
}

a.active {
    background-color: green;
}

.nav a {
    background-color: black;
    overflow: hidden;
    float: center;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 15px;
}

h2 {
    color: white;
    text-align: center;
}

footer {
    position: static;
    bottom: 0;
    padding: 5px;
    background: #000000;
    color: white;
    width: 100%;
    text-align: center;
    opacity: 80%;
}

div.nav a:link,
div.nav a:visited {
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

div.nav a:hover,
nav a:active {
    background-color: green;
}

footer a:link,
footer a:visited {
    background-color: black;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

footer a:hover,
footer a:active {
    background-color: lightblue;
    color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: darkolivegreen;
    padding: 5px;
    justify-content: space-evenly;
    border-radius: 12px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 15px;
    text-align: center;
    margin: 6px;
    border-radius: 12px;
    align-content: center;
}

.grid-item li {
    list-style-type: none;
}