form label {
    margin: 2px;
    padding: 0px;
    color: black;
}

body {
    background-image: url('images/marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: white;
}

.nav a {
    background-color: black;
    overflow: hidden;
    float: center;
    color: white;
    text-align: center;
    padding: 6px 8px;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    background-color: yellow;
    color: black;
}

h2 {
    text-align: center;
}

footer {
    position: static;
    bottom: 0;
    padding: 5px;
    background: #000000;
    color: white;
    width: 100%;
    text-align: center;
}