body {
    background-image: url('../images/john-matychuk-gUK3lA3K7Yo-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div.headerName{
    background-color: gray;
    position: static;
    background: #000000;
    color: white;
    text-align: center;
    opacity: 80%;
    width: 100%;
}

.headerName a:link,
.headerName a:visited {
    background-color: black;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.headerName a:hover,
.headerName a:active {
    background-color: lightblue;
    color: #000000;
}

h1.pageName {
    color: lightgreen;
    background: black;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

div.nav a:active{
    background-color:  lightgreen;

}

.nav a {
    background-color: black;
    overflow: hidden;
    float: center;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 15px;
}

h2 {
    color: white;
    text-align: center;
}

footer {
    margin-top: 20px;
    position: static;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background: #000000;
    color: white;
    text-align: center;
    opacity: 80%;
    width: 40%;
    border-radius: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.nav a:link,
div.nav a:visited {
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

div.nav a:hover,
nav a:active {
    background-color: green;
}

footer a:link,
footer a:visited {
    background-color: black;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

footer a:hover,
footer a:active {
    background-color: lightblue;
    color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: grey;
    padding: 5px;
    border-radius: 12px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 15px;
    text-align: left;
    margin: 6px;
    border-radius: 12px;
    align-content: center;
}

.grid-item h3 {
    background-color: lightgreen;
    border-radius: 40px;
    text-align: center;
    padding: 15px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid-item li {
    list-style-type: none;
    margin-right: 15px;
    padding: 5px;
    align-items: center;
}

div.grid-item a, div.grid-item a:hover{
    color:  green;
    font-size: larger;
    text-decoration: none; 
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

div.grid-item a:hover{
    color:  blue;
    text-decoration: none; 
}

div.grid-item a:active{
    color: blueviolet;
    text-decoration: none; 
}

b{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}