body {
    background-image: url('../images/icons8-team-7LNatQYMzm4-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    color: white;
}

form label {
    margin: 2px;
    padding: 0px;
    color: black;
}

input {
    padding: 2px;
    margin-left: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    height: 30%;
    width: 40%;
}

.nav a {
    background-color: black;
    overflow: hidden;
    float: center;
    color: white;
    text-align: center;
    padding: 6px 8px;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    background-color: yellow;
    color: black;
}

h2 {
    text-align: center;
}

select {
    cursor: pointer;
    margin-left: 5px;
}

footer {
    position: absolute;
    bottom: 0;
    background: #000000;
    color: white;
    text-align: center;
    opacity: 80%;
    width: 100%;
    margin-left: -8px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

div.headerName{
    padding-bottom: 10px;
    margin-bottom: 10px;

}
a:link, a:visited {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: green;
  }

  footer a:link, footer a:visited {
    background-color: black;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
 footer a:hover, footer a:active {
    background-color: lightblue;
  }