    body {
        background-image: url('../images/annie-theby-EXCeGbyolPY-unsplash.jpg');
        background-repeat: repeat;
        background-size: 100%;
    }
    
    h1 {
        color: white;
        font-size: xx-large;
        margin-bottom: -1px;
        text-align: center;
    }
    
    form label {
        margin: 5px;
        padding-left: 0px;
        color: black;
    }
    
    .column {
        margin: 5px;
        padding-left: 0px;
        color: black;
    }
    
    input {
        padding: 2px;
        margin-left: 5px;
        margin-bottom: 5px;
        cursor: pointer;
        height: 30%;
        width: 40%;
    }
    
    .nav a {
        overflow: hidden;
        float: center;
        color: white;
        text-align: center;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 20px;
        border-radius: 15px;
    }
    div.nav a:active{
        background-color:  lightgreen ;
    
    }
    h2 {
        color: white;
        text-align: center;
    }
    
    select {
        cursor: pointer;
        margin-left: 5px;
    }
    
    footer {
        position: relative;
        background: #000000;
        color: white;
        text-align: center;
        opacity: 80%;
        width: 100%;
        margin-top: 20px;
        padding-bottom: 10px;
        border-radius: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .row {
        display: flex;
    }
    
    .column {
        flex: 50%;
    }
    
    div.headerName {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    
    a:link,
    a:visited {
        background-color: black;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    
    a:hover,
    a:active {
        background-color: green;
    }
    
    footer a:link,
    footer a:visited {
        background-color: black;
        color: white;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    
    footer a:hover,
    footer a:active {
        background-color: lightblue;
        color: black;
    }
    
    form {
        background-color: lightgray;
        opacity: 90%;
        margin: 20px;
        padding: 15px;
        border-radius: 15px;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    
    #submit:hover {
        color: white;
        background-color: green;
    }
    #submit:active {
        color: white;
        background-color: lightgreen;
    }
    
    #submit {
        text-align: center;
    }
    div.headerName{
    background-color: gray;
    position: static;
    background: #000000;
    color: white;
    text-align: center;
    opacity: 80%;
    width: 100%;
    }
    h1.pageName {
        color: lightgreen;
    background: black;
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
    }

    b{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    }

    label{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;

    }