.songInfo {
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

body {
    background-image: url('../images/karl-hornfeldt-i4UcdpKoA9c-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1,
header h2 {
    color: white;
}

form label {
    margin: 2px;
    padding: 0px;
    color: black;
}

.nav a {
    overflow: hidden;
    float: center;
    color: white;
    text-align: center;
    padding: 6px 8px;
    text-decoration: none;
    font-size: 20px;
}


h2 {
    text-align: center;
}

footer {
    position: static;
    bottom: 0;
    padding: 5px;
    background: #000000;
    color: white;
    width: 100%;
    text-align: center;
    opacity: 80%;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}
a:link, a:visited {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: green;
  }
  footer a:link, footer a:visited {
    background-color: black;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
 footer a:hover, footer a:active {
    background-color: lightblue;
  }

  .column{
    text-align: left;
  }
/*single song page row information*/
  b {
    font-size: larger;
  }

  h4 {
    text-align: center;
    align-items: center;
  }