.songInfo {
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    background-image: url('../images/john-matychuk-gUK3lA3K7Yo-unsplash.jpg');
    background-repeat: no-repeat;
}

body {
    background-image: url('../images/john-matychuk-gUK3lA3K7Yo-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1,
header h2 {
    color: white;
}

form label {
    margin: 2px;
    padding: 0px;
    color: black;
}

.nav a {
    background-color: black;
    overflow: hidden;
    float: center;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 15px;
}

h2 {
    text-align: center;
}

footer {
    position: static;
    bottom: 0;
    padding: 5px;
    background: #000000;
    color: white;
    width: 100%;
    text-align: center;
    opacity: 80%;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

a:link,
a:visited {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: green;
}

footer a:link,
footer a:visited {
    background-color: black;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

footer a:hover,
footer a:active {
    background-color: lightblue;
    color: black;
}

.column {
    text-align: left;
}


/*single song page row information*/

b {
    font-size: larger;
}

h4 {
    text-align: center;
    align-items: center;
}
div.headerName{
    background-color: gray;
    position: static;
    background: #000000;
    color: white;
    text-align: center;
    opacity: 80%;
    width: 100%;
}

